/*******************************************************************************
                              Small Mobile Layout
*******************************************************************************/
/*****************************************************
                     Main layout
******************************************************/
/*************** Theme color variables ***************/
:root {
  --primary-color: #2196f3;
  --primary-color-light: #6ec6ff;
  --primary-color-dark: #0069c0;
  --secondary-color: #263238;
  --secondary-color-light: #e0e0e0;
  --secondary-color-dark: #000a12;
}

/****** Responsive layout and basic page style *******/
body {
  font-family: monospace;
  max-width: 100%;
  background-color: var(--secondary-color-light);
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  nax-height: 100vh;
}

.page-header {
  font-size: 3em;
  /* Sticky header */
  position: fixed;
  z-index: 2;
  width: 100vw;
  /* Declare height to support navigation positioning for sticky top-nav */
  height: 3vh;
  margin: 0;
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom, #2196f3, #2599f4, #2a9cf5, #2e9ff5, #33a2f6);
}

/***** Sticky Top Navigation - Project Resources ******/
/* Set top navigation to stick below page header */
.top-nav {
  font-size: .85rem;
  z-index: 1;
  top: 2vh;
  height: 5.5vh;
  background-image: linear-gradient(to bottom, #2a9cf5, #3aa7f7, #4bb1f9, #5cbcfb, #6ec6fc);
}

/************************
 Criteria Dropdown Menu
************************/
.criteria-list {
  list-style: none;
}

.dropdown {
  overflow: hidden;
}

.dropdown-button {
  /* Important for vertical align on mobile phones */
  margin: 0;
  padding: 1% 3%;
  height: 100%;
  color: var(--secondary-color-dark);
  border: none;
  outline: none;
  background-color: inherit;
}

.dropdown-content {
  position: absolute;
  margin-top: 1%;
  z-index: 1;
  top: 3.5vh;
  display: none;
  color: var(--secondary-color-dark);
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.dropdown-content .dropdown-link {
  display: block;
  float: none;
  text-align: left;
  text-decoration: none;
}

.dropdown-link:hover {
  color: var(--secondary-color-dark);
  background-color: var(--primary-color-light);
  mix-blend-mode: hard-light;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/******************************************************
              Shared Navigation Styles
******************************************************/
/********** Consistent navigation link style *********/
.top-nav .nav-link,
.dropdown-link {
  font-size: .95em;
  float: left;
  /* Keep link close to 48px on mobile view so it's easily tappable */
  padding: 3%;
  text-align: center;
  text-decoration: none;
}

.top-nav .nav-link:hover,
.dropdown-button:hover,
.bottom-nav .nav-link:hover {
  color: white;
  background-color: var(--secondary-color);
  height: 100%;
  mix-blend-mode: saturation;
}

/****** Top and bottom navigation general styles *****/
.top-nav,
.bottom-nav {
  font-family: Arial;
  position: sticky;
  background-color: var(--primary-color-light);
}

/***************** Bottom Navigation *****************/
.bottom-nav {
  bottom: 0;
  height: 5vh;
  padding: 1% 0;
}

.bottom-content {
  font-size: 1.95em;
  position: absolute;
  bottom: 0;
  padding: 1% 5% 0 5%;
  color: black;
}

.right {
  right: 0;
}

/* Hide extra external resources in mobile view due to size constraints */
.visibility {
  visibility: hidden;
}

/******************************************************
                Criteria resource cards
******************************************************/
/**************** Criteria Container *****************/
.criterias {
  position: relative;
  /* First criteria card shows up below top navigation section */
  top: 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.criteria-header {
  font-size: 1.7em;
  margin: 0;
  padding: .85vh;
  color: var(--secondary-color-light);
  background-color: var(--primary-color-dark);
  mix-blend-mode: multiply;
  white-space: pre;
  border-radius: 5px 5px 0 0;
}

.criteria {
  box-shadow: 4px 4px 5px 1px rgba(38,50,56,0.39);
  margin: 1%;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  align-self: center;
}

/* Keep last card from being beneath the bottom nav */
.criteria:last-child {
  margin-bottom: 5%;
}

/****************** Type subsection ******************/
.type-header {
  font-size: 1.4em;
  font-weight: 800;
  margin: 0;
  opacity: .9;
  color: var(--secondary-color-light);
  background-color: var(--secondary-color);
  mix-blend-mode: hard-light;
}

/******************* Resource link *******************/
.resource {
  font-family: Arial;
  display: inline-flex;
  margin: 1%;
  padding: 2% 3%;
  border: 2px groove var(--secondary-color-light);
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 1px 6px var(--secondary-color-light);
}

.resource:hover {
  background-color: var(--primary-color-light);
}

.resource-link {
  text-decoration: none;
  color: var(--secondary-color-dark);
}

/* Keep Shared By on a single line */
.credit {
  font-size: .85em;
  white-space: nowrap;
}

/******************************************************
                Anchor link positioning
******************************************************/
/* Keep clicked link header below the top navigation section */
#ctn0 a,
#ctn1 a,
#ctn2 a,
#ctn3 a {
  position: absolute;
  top: -75px;
}

/*******************************************************************************
                            Tablet Layout
*******************************************************************************/
@media only screen and (min-width: 426px) {

  /* Keep clicked link header below the top navigation section */
  /* TODO: Dynamically create this so that it works with the length of the
  criteria */
  #ctn0 a,
  #ctn1 a,
  #ctn2 a,
  #ctn3 a {
    position: absolute;
    top: -80px;
  }

  .visibility {
    visibility: visible;
  }

  .bottom-nav {
    display: flex;
    max-height: 6vh;
    padding-top: 0;
    justify-content: space-around;
  }

  .bottom-content {
    font-size: 1em;
    position: relative;
    text-decoration: none;
  }

  /* Increase size of home icon without increasing link font size */
  .tablet-font {
    font-size: 2em;
  }

  .criteria:last-child {
    margin-bottom: 25%;
  }
}

/*******************************************************************************
                            Laptop Layout
*******************************************************************************/
@media only screen and (min-width: 769px) {

  /* Keep clicked link header below the top navigation section */
  #ctn1 a,
  #ctn2 a,
  #ctn3 a,
  #ctn4 a,
  #ctn5 a,
  #ctn6 a {
    top: -90px;
  }

  /* Increase size of home icon without increasing link font size */
  .tablet-font {
    font-size: 2em;
  }

  .criteria {
    max-height: auto;
  }

  .criteria:last-child {
    margin-bottom: 5%;
  }

  .page-header {
    font-size: 3em;
  }
}
